# Authentication for passwd-file users. Included from 10-auth.conf.
#
# passwd-like file with specified location.
# <doc/wiki/AuthDatabase.PasswdFile.txt>

passdb {
  driver = passwd-file
  args = scheme={{ dovecot_encryption_scheme }} username_format=%u {{ dovecot_users_path }}
}

userdb {
  driver = passwd-file
  args = username_format=%u {{ dovecot_users_path }}

  # Default fields that can be overridden by passwd-file
  #default_fields = quota_rule=*:storage=1G

  # Override fields from passwd-file
  #override_fields = home=/home/virtual/%u
}