noreply:{{ dovecot_encrypted_noreply_pass.stdout }}::::::
{{ user_admin_name }}:{{ dovecot_encrypted_user_pass.stdout }}:{{ dovecot_admin_id.stdout }}:{{ dovecot_admin_gid.stdout }}::/home/{{ user_admin_name }}::
