{{ ansible_managed | comment }}

server {
    listen {{ nginx_http_port }};
    server_name {{ webmail_project_site }} www.{{ webmail_project_site }};
    return 301 https://www.{{ webmail_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name {{ webmail_project_site }};
    return 301 https://www.{{ webmail_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name www.{{ webmail_project_site }};
    access_log {{ webmail_nginx_logs_dir }}/access.log;
    error_log {{ webmail_nginx_logs_dir }}/error.log;
    root {{ webmail_nginx_root_dir }};
    index index.php;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;

        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        # Mitigate https://httpoxy.org/ vulnerabilities
        fastcgi_param HTTP_PROXY "";
        fastcgi_pass unix:{{ php_fpm_socket_file_path }};
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }

    location ^~ /data {
        deny all;
    }
}
