{{ ansible_managed | comment }}

#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: {{ webapp_project_name }}
# REQUIRE: networking servers daemon login
# BEFORE: nginx
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable {{ webapp_project_name | replace('_', ' ') }}:
# {{ webapp_project_name }}_enable (bool):	Set to "NO" by default.
#					Set it to "YES" to enable {{ webapp_project_name | replace('_', ' ') }}
#

. /etc/rc.subr

name="{{ webapp_project_name }}"
rcvar="{{ webapp_project_name }}_enable"

load_rc_config {{ webapp_project_name }}
: {{ '${' + webapp_project_name + '_enable="NO"}' }}

pidfile="{{ webapp_node_daemon_pid_file_path }}"
pidfile_child="{{ webapp_node_master_pid_file_path }}"

{{ webapp_project_name }}_chdir="{{ webapp_nginx_root_dir }}"
{{ webapp_project_name }}_env_file="{{ webapp_nginx_root_dir }}/process_env"
command="/usr/sbin/daemon"
app="/usr/local/bin/node"
app_flags="--bind {{ webapp_node_socket_file_path }} --workers 3 --min-log-status 400"
app_args="src/__server__/index.js"
command_args="${app} ${app_args} ${app_flags}"

start_precmd="{{ webapp_project_name }}_prestart"
start_postcmd="{{ webapp_project_name }}_poststart"
stop_postcmd="{{ webapp_project_name }}_poststop"

{{ webapp_project_name }}_prestart() {
    if [ ! -d {{ webapp_node_runtime_data_dir }} ]; then
        mkdir -p {{ webapp_node_runtime_data_dir }}
        chown {{ user_app_name }}:{{ user_app_group }} {{ webapp_node_runtime_data_dir }}
        chmod 755 {{ webapp_node_runtime_data_dir }}
    fi

    if [ ! -f {{ webapp_node_logs_dir }}/all.log ]; then
        touch {{ webapp_node_logs_dir }}/all.log
        chmod 644 {{ webapp_node_logs_dir }}/all.log
        chown {{ user_app_name }}:{{ user_app_group }} {{ webapp_node_logs_dir }}/all.log
    fi

    rc_flags="-S -o {{ webapp_node_logs_dir }}/all.log -P {{ webapp_node_daemon_pid_file_path }} \
        -p {{ webapp_node_master_pid_file_path }} -r \
        -u {{ user_app_name }} -T {{ webapp_project_name }} ${rc_flags}"
}

{{ webapp_project_name }}_poststart() {
    while [ ! -S {{ webapp_node_socket_file_path }} ]; do sleep 1; done
    
    chown root:wheel {{ webapp_node_daemon_pid_file_path }}
    chown {{ user_app_name }}:{{ user_app_group }} {{ webapp_node_master_pid_file_path }}
    chown {{ user_app_name }}:{{ nginx_user_group }} {{ webapp_node_socket_file_path }}

    chmod 644 {{ webapp_node_daemon_pid_file_path }}
    chmod 644 {{ webapp_node_master_pid_file_path }}
    chmod 660 {{ webapp_node_socket_file_path }}
}

{{ webapp_project_name }}_poststop() {
    while [ -S {{ webapp_node_socket_file_path }} ]; do sleep 1; done

    if [ -d {{ webapp_node_runtime_data_dir }} ]; then
        rm -rf {{ webapp_node_runtime_data_dir }}
    fi
}

run_rc_command "$1"