################ Start of IPFW rules file ###############################
# Flush out the list before we begin.
ipfw -q -f flush

# Set rules command prefix
cmd="ipfw -q add"
inet_if="{{ server_interface }}" # public interface name of NIC facing the public Internet

#################################################################
# No restrictions on Loopback Interface
#################################################################
$cmd 00010 allow all from any to any via lo0

#################################################################
# Allow the packet through if it has previous been added to the
# the "dynamic" rules table by a allow keep-state statement.
#################################################################
$cmd 00015 check-state

#################################################################
# Interface facing Public Internet (Outbound Section)
# Interrogate session start requests originating from behind the
# firewall on the private network or from this gateway server
# destine for the public Internet.
#################################################################

# Allow out access to Domain name server.
{% set dns_servers_list = dns_servers.stdout.split('\n') %}
{% set current_rule = 110 %}
{% for dns_server in dns_servers_list %}
    {% if current_rule < 118 %}
        $cmd 00{{ current_rule }} allow tcp from any to {{ dns_server }} 53 out via $inet_if setup keep-state
        $cmd 00{{ current_rule + 1 }} allow udp from any to {{ dns_server }} 53 out via $inet_if keep-state
        {% set current_rule = current_rule + 2 %}
    {% endif %}
{% endfor %}

# Allow out access to DHCP server for cable/DSL configurations.
# Use the following rule and check log for IP address.
# Then put IP address in commented out rule & comment first rule
#$cmd 00120 allow log udp from any to any 67 out via $inet_if keep-state
$cmd 00120 allow udp from any to {{ default_gateway.stdout }} 67 out via $inet_if keep-state

# Allow out NTP
$cmd 00125 allow udp from any to any 123 out via $inet_if keep-state 

# Allow out standard www
$cmd 00130 allow tcp from any to any 80 out via $inet_if setup keep-state

# Allow out secure www
$cmd 00131 allow tcp from any to any 443 out via $inet_if setup keep-state

# Allow out standard send email function
$cmd 00140 allow tcp from any to any 25 out via $inet_if setup keep-state
$cmd 00141 allow tcp from any to any 143 out via $inet_if setup keep-state

# Allow out secure get email function
$cmd 00142 allow tcp from any to any 465 out via $inet_if setup keep-state
$cmd 00143 allow tcp from any to any 587 out via $inet_if setup keep-state
$cmd 00144 allow tcp from any to any 993 out via $inet_if setup keep-state

# Allow out FBSD (make install & CVSUP) functions
# Basically give user root "GOD" privileges.
$cmd 00150 allow tcp from any to any out via $inet_if setup keep-state uid root

# Allow out ping
$cmd 00160 allow icmp from any to any out via $inet_if keep-state

# Allow out Time
$cmd 00170 allow tcp from any to any 37 out via $inet_if setup keep-state

# Allow out secure FTP, Telnet, and SCP
# This function is using SSH (secure shell)
$cmd 00180 allow tcp from any to any 22 out via $inet_if setup keep-state

# Allow out whois
$cmd 00190 allow tcp from any to any 43 out via $inet_if setup keep-state

{% if is_vagrant is defined %}
#################################################################
# Allow out my private home network
#################################################################
$cmd 00195 allow all from 192.168.1.0/24 to any out via $inet_if
{% endif %}

# Deny and log everything else that's trying to get out.
# This rule enforces the block all by default logic.
$cmd 00199 deny log all from any to any out via $inet_if

#################################################################
# Interface facing Public Internet (Inbound Section)
# Interrogate packets originating from the public Internet
# destine for this gateway server or the private network.
#################################################################

{% if is_vagrant is defined %}
#################################################################
# Allow in my private home network
#################################################################
$cmd 00300 allow all from 192.168.1.0/24 to any in via $inet_if
{% endif %}

# Deny all inbound traffic from non-routable reserved address spaces
$cmd 00301 deny all from 192.168.0.0/16 to any in via $inet_if  #RFC 1918 private IP
$cmd 00302 deny all from 172.16.0.0/12 to any in via $inet_if     #RFC 1918 private IP
$cmd 00303 deny all from 10.0.0.0/8 to any in via $inet_if          #RFC 1918 private IP
$cmd 00304 deny all from 127.0.0.0/8 to any in via $inet_if        #loopback
$cmd 00305 deny all from 0.0.0.0/8 to any in via $inet_if            #loopback
$cmd 00306 deny all from 169.254.0.0/16 to any in via $inet_if   #DHCP auto-config
$cmd 00307 deny all from 204.152.64.0/23 to any in via $inet_if  #Sun cluster interconnect
$cmd 00308 deny all from 224.0.0.0/3 to any in via $inet_if         #Class D & E multicast

# Deny public pings
$cmd 00310 deny icmp from any to any in via $inet_if

# Deny ident
$cmd 00315 deny tcp from any to any 113 in via $inet_if

# Deny all Netbios service. 137=name, 138=datagram, 139=session
# Netbios is MS/Windows sharing services.
# Block MS/Windows hosts2 name server requests 81
$cmd 00320 deny tcp from any to any 137 in via $inet_if
$cmd 00321 deny tcp from any to any 138 in via $inet_if
$cmd 00322 deny tcp from any to any 139 in via $inet_if
$cmd 00323 deny tcp from any to any 81 in via $inet_if

# Deny any late arriving packets
$cmd 00330 deny all from any to any frag in via $inet_if

# Deny ACK packets that did not match the dynamic rule table
$cmd 00332 deny tcp from any to any established in via $inet_if

# Allow traffic in from ISP's DHCP server. This rule must contain
# the IP address of your ISP.s DHCP server as it.s the only
# authorized source to send this packet type.
$cmd 00360 allow udp from any to {{ default_gateway.stdout }} 67 in via $inet_if keep-state

# Allow in standard www function
$cmd 00400 allow tcp from any to any 80 in via $inet_if setup limit src-addr 2

# Allow in secure www function
$cmd 00401 allow tcp from any to any 443 in via $inet_if setup limit src-addr 2

# Allow in SSH from public Internet
$cmd 00410 allow tcp from any to any 22 in via $inet_if setup limit src-addr 2

# Allow in standard send email function
$cmd 00420 allow tcp from any to any 25 in via $inet_if setup keep-state
$cmd 00421 allow tcp from any to any 143 in via $inet_if setup keep-state

# Allow in secure get email function
$cmd 00422 allow tcp from any to any 465 in via $inet_if setup keep-state
$cmd 00423 allow tcp from any to any 587 in via $inet_if setup keep-state
$cmd 00424 allow tcp from any to any 993 in via $inet_if setup keep-state

# Reject & Log all incoming connections from the outside
$cmd 00499 deny log all from any to any in via $inet_if

# Everything else is denied by default
# deny and log all packets that fell through to see what they are
$cmd 00999 deny log all from any to any
################ End of IPFW rules file ###############################
