{{ ansible_managed | comment }}

upstream {{ webapp_project_name }} {
    server unix:{{ webapp_node_socket_file_path }} fail_timeout=0;
}

server {
    listen {{ nginx_http_port }};
    server_name {{ webapp_project_site }} www.{{ webapp_project_site }};
    return 301 https://www.{{ webapp_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name {{ webapp_project_site }};
    return 301 https://www.{{ webapp_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name www.{{ webapp_project_site }};
    access_log {{ webapp_nginx_logs_dir }}/access.log;
    error_log {{ webapp_nginx_logs_dir }}/error.log;

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://{{ webapp_project_name }};
    }

    location /offline_index.html {
        alias {{ webapp_nginx_public_dir }}/offline_index.html;
        expires max;
        access_log off;
    }

    location ~* ^\/({{ nginx_public_dir_file_exts | map('regex_replace', '^(.*)$', '.*\.\\1') | list | join('|') }})$ {
        alias {{ webapp_nginx_public_dir }}/$1;
        expires max;
        log_not_found off;
        access_log off;
    }
}
