<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8"/>
        {{ HELMET_TITLE }}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {{ HELMET_META }}
        <meta name="keywords"
              content="tania, drogeria, perfumeria, internetowa, tanie, testery, perfum, dla, mężczyzny, faceta, facetów, kobiety, kobiet, perfumy, męskie, meskie, damskie, kobiece, unisex, tanio, tom ford, carolina herrera, paco rabanne, invictus, giorgio armani, gucci, lacoste, acqua di gio, versace, marc jacobs, terre d hermes"
        />
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
        <meta name="theme-color" content="#ffffff"/>
        <meta name="robots" content="index, follow"/>
        <meta name="author" content="Marcin Sadowski"/>
        <link rel="shortcut icon" href="/favicon.ico"/>
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"/>
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png"/>
        <link rel="manifest" href="/manifest.json"/>
        <link rel="preconnect" href="https://www.api.multitestery.pl" crossorigin/>
        <link rel="preconnect" href="https://www.static.multitestery.pl" crossorigin/>
        <link rel="preconnect" href="https://www.google-analytics.com" crossorigin/>
        {{ __REDUX_PRELOADED_STATE__ }}
    </head>
    <body class="no-js">
        <noscript>
            <div class="alert alert-info text-center" style="margin-bottom: 0; border-radius: 0;">
                Twoja przeglądarka nie obsługuje JavaScript, niektóre funkcje mogą być niedostępne.
            </div>
        </noscript>
        <div id="app"></div>
        <script>
            document.body.className = '';
        </script>
    </body>
</html>
