{{ ansible_managed | comment }}

#!/bin/sh
#
# $FreeBSD$
#
# PROVIDE: {{ api_project_name }}
# REQUIRE: networking servers daemon login
# BEFORE: nginx
# KEYWORD: shutdown
#
# Add the following lines to /etc/rc.conf to enable {{ api_project_name | replace('_', ' ') }}:
# {{ api_project_name }}_enable (bool):	Set to "NO" by default.
#					Set it to "YES" to enable {{ api_project_name | replace('_', ' ') }}
#

. /etc/rc.subr

name="{{ api_project_name }}"
rcvar="{{ api_project_name }}_enable"

load_rc_config {{ api_project_name }}
: {{ '${' + api_project_name + '_enable="NO"}' }}

pidfile="{{ api_gunicorn_daemon_pid_file_path }}"
pidfile_child="{{ api_gunicorn_master_pid_file_path }}"

{{ api_project_name }}_chdir="{{ api_nginx_root_dir }}/src"
{{ api_project_name }}_env_file="{{ api_nginx_root_dir }}/process_env"
command="/usr/sbin/daemon"
app="{{ pyenv_dir + '/versions/' + api_pyenv_virtualenv_name.stdout + '/' if api_pyenv_executed is defined else '/usr/local/' }}bin/gunicorn"
app_flags="--bind unix:{{ api_gunicorn_socket_file_path }} \
    --workers 3 \
    --log-level warning \
    --access-logfile {{ api_gunicorn_logs_dir }}/access.log \
    --error-logfile {{ api_gunicorn_logs_dir }}/error.log"
app_args="app.wsgi"
command_args="${app} ${app_flags} ${app_args}"

start_precmd="{{ api_project_name }}_prestart"
start_postcmd="{{ api_project_name }}_poststart"
stop_postcmd="{{ api_project_name }}_poststop"

{{ api_project_name }}_prestart() {
    if [ ! -d {{ api_gunicorn_runtime_data_dir }} ]; then
        mkdir -p {{ api_gunicorn_runtime_data_dir }}
        chown {{ user_app_name }}:{{ user_app_group }} {{ api_gunicorn_runtime_data_dir }}
        chmod 755 {{ api_gunicorn_runtime_data_dir }}
    fi

    rc_flags="-f -S -P {{ api_gunicorn_daemon_pid_file_path }} \
        -p {{ api_gunicorn_master_pid_file_path }} -r \
        -u {{ user_app_name }} -T {{ api_project_name }} ${rc_flags}"
}

{{ api_project_name }}_poststart() {
    while [ ! -S {{ api_gunicorn_socket_file_path }} ]; do sleep 1; done
    
    chown root:wheel {{ api_gunicorn_daemon_pid_file_path }}
    chown {{ user_app_name }}:{{ user_app_group }} {{ api_gunicorn_master_pid_file_path }}
    chown {{ user_app_name }}:{{ nginx_user_group }} {{ api_gunicorn_socket_file_path }}

    chmod 644 {{ api_gunicorn_daemon_pid_file_path }}
    chmod 644 {{ api_gunicorn_master_pid_file_path }}
    chmod 660 {{ api_gunicorn_socket_file_path }}
}

{{ api_project_name }}_poststop() {
    while [ -S {{ api_gunicorn_socket_file_path }} ]; do sleep 1; done

    if [ -d {{ api_gunicorn_runtime_data_dir }} ]; then
        rm -rf {{ api_gunicorn_runtime_data_dir }}
    fi
}

run_rc_command "$1"