/* Global */
@font-face {
    font-family: 'Parisienne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Parisienne'), local('Parisienne-Regular'), url('/static/fonts/parisienne.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body.no-js .dropdown-menu {
    display: none;
    position: absolute;
}

body.no-js .dropdown-toggle:focus + .dropdown-menu,
body.no-js .dropdown-toggle:active + .dropdown-menu {
    display: block;
}

body.no-js .dropdown-menu:hover {
    display: block;
}

body .only-js {
    display: block;
    visibility: visible;
}

body .only-js-inline {
    display: inline-block;
    visibility: visible;
}

body.no-js .only-js,
body.no-js .only-js-inline {
    display: none;
    visibility: hidden;
}

/* Index */
.navbar-brand {
    font-family: 'Parisienne', cursive;
    font-size: 1.5rem;
    margin: 0 !important;
    text-transform: none !important;
}

main.container {
    min-height: 100vh;
}

.navbar {
    padding: .5rem 1rem !important;
}

ul.navbar-nav {
    margin-top: 4px !important;
}

ul.nav-pills > li.nav-item {
    margin-right: 0 !important;
}

/* Showcase item */
.card.perfume {
    height: 100%;
}

.img-wrapper {
    position: relative;
    height: 0;
    padding-top: 100%;
}

.img-card-top.perfume {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: auto;
}

a.perfume {
    color: #000;
}

a:hover.perfume {
    color: #000;
}

a:link.perfume {
    text-decoration: none;
}

.card:hover.perfume {
    box-shadow: 2px 2px 10px #aaaaaa;
}

p.unavailable,
span.unavailable,
del.discount-old-price {
    color: #a70010;
}

p.available,
span.available {
    color: #005f00;
}

ins.discount-new-price {
    color: #005f00;
    font-weight: bold;
    text-decoration: none;
}
