{{ ansible_managed | comment }}

user {{ nginx_user_name }};
worker_processes auto;
pid {{ nginx_pid_file_path }};
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 2048;
	multi_accept on;
	accept_mutex on;
	use kqueue;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	include {{ nginx_mime_types_file_path }};
	default_type application/octet-stream;
	include {{ ssl_options_for_nginx_path }};
	ssl_certificate {{ ssl_certificate_path }};
	ssl_certificate_key {{ ssl_certificate_key_path }};
	ssl_dhparam {{ ssl_dhparams_path }};
	gzip on;
	gzip_vary on;
	gzip_proxied any;
	gzip_comp_level 6;
	gzip_buffers 16 8k;
	gzip_http_version 1.1;
	gzip_types {{ nginx_gzip_types | join(' ') }};
	include {{ nginx_sites_enabled_dir }}/*.conf;
}