{{ ansible_managed | comment }}

upstream {{ api_project_name }} {
    server unix:{{ api_gunicorn_socket_file_path }} fail_timeout=0;
}

server {
    listen {{ nginx_http_port }};
    server_name {{ api_project_site }} www.{{ api_project_site }};
    return 301 https://www.{{ api_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name {{ api_project_site }};
    return 301 https://www.{{ api_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name www.{{ api_project_site }};
    client_max_body_size 25M;
    access_log {{ api_nginx_logs_dir }}/access.log;
    error_log {{ api_nginx_logs_dir }}/error.log;

    location / {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass http://{{ api_project_name }};
    }
}
