{{ ansible_managed | comment }}

server {
    listen {{ nginx_http_port }};
    server_name {{ static_project_site }} www.{{ static_project_site }};
    return 301 https://www.{{ static_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name {{ static_project_site }};
    return 301 https://www.{{ static_project_site }}$request_uri;
}

server {
    listen {{ nginx_https_port }} ssl http2;
    server_name www.{{ static_project_site }};
    log_not_found off;
    access_log off;
    error_log {{ static_nginx_logs_dir }}/error.log;

    location / {
        return 403;
    }

    location ~* (^\/static|media\/)({{ nginx_public_dir_file_exts | map('regex_replace', '^(.*)$', '.*\.\\1') | list | join('|') }})$ {
        alias {{ static_nginx_root_dir }}/$1/$2;
        expires max;
    }
}
